body {
  margin: 0;
  padding: 0;
}

/* HEADER ELEMENT */

#header-card {
  border-bottom: 5 px solid red;
}

#header {
  background-color: #1D4C85;
  color: white;
}

#header-title {
  font-size: 40px;
}

/* HEADER ELEMENT */

/* INPUT ELEMENT */

/* #input {
  justify-content: center;
} */

/* INPUT ELEMENT */
